
<div class="container">
    <div class="row">
        <div class="col">
            <H3>Mensagens</H3>
        </div>
    </div>

    <div class="row">

        <mat-card class="mat-elevation-z3">
            <mat-card-subtitle>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mensagem</th>
                        <th scope="col">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let contato of contato">
                        <th>{{contato.id}}</th>
                        <th>{{contato.nome}}</th>
                        <th>{{contato.email}}</th>
                        <th>{{contato.mensagem}}</th>
                       
                        <th>
                            <button type="submit" class="btn btn-danger" >Enviar</button>
                        </th>
                    </tr>
                </tbody>
                </table>
                
            </mat-card-subtitle>
        </mat-card>
        
    </div>
</div>
