img{
    width: 200px;
}
.logo{
    text-align: center;
    height: 100%;
    background-color: #c76500;
}
.titulo{
    margin-top: 30px;
    text-align: center;
}
.container {
    margin: auto;
    width: 500px;
    
}
button{
    margin-top: 30px;
}
.recuperar{
    margin-top: 10px;
    text-align: center;
}
.largura{
    width: auto;
}
.rodape{
    align-items: center;
    text-align: center;
    color: white;
    background-color: #c76500;
    height: 50px;
    justify-items: center;

}

