<div class="logo">
    <a routerLink=""><img src="assets/Screenshot_4.png" alt=""></a>
</div>

<div class="container">

    <div class="col">

        <div class="row titulo">
            <h3>Fale conosco</h3>
        </div>

        <div class="row largura">
            Nome:
            <input type="text" class="form-control" [(ngModel)] = "contato.nome">
        </div>

        <div class="row largura">
            Email:
            <input type="text" class="form-control" [(ngModel)] = "contato.email">
        </div> 

        <div class="row largura">
        Mensagem:
            <textarea class="form-control" rows="3" [(ngModel)] = "contato.mensagem"></textarea>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary" (click)="save()">Enviar</button>
        </div>
    </div>
</div>
<app-rodape></app-rodape>
